h3{
    margin-top: 60px;
}
h3,h4{
    text-align: center;
    font-weight: bold;
}
.founder{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.about{
    margin-top: 20px;
}
.award {
  font-weight: bold;
}
