<div class="container">
  <h3>ABOUT THE FOUNDER PRESIDENT</h3>
  <h4>
    DR.SUBATHRA CHELLADURAI <br />M.Com., M.Phil., PGDHRM, M.A (Soc.), M.Sc
    (Psy.),UGC-NET, Ph.D
  </h4>
</div>
<div class="container about">
  <div class="row">
    <div class="col-sm-4">
      <img
        class="founder"
        src="../../assets/Founder-Images/SUBATHRA.png"
        alt="Founder"
        height="440"
        width="340"
      />
    </div>
    <div class="col-sm-8">
      <h5 class="text-justify">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DR.SUBATHRA CHELLADURAI, is a
        woman with ambition, Born on 1st Nov 1982 in a Tamil - Hindu family, She
        is the third child of Chelladurai and Sushila of Sivangnapuram Village,
        a tiny village in Tirunelveli District in Tamilnadu, India . She was
        graduated in Commerce from SNDT Women’s University, Mumbai, and
        completed PG and M.Phil in Commerce form Madurai Kamaraj University. She
        has been awarded with Ph.D in Commerce from Manonmaniam Sundaranar
        University, Tirunelveli , now acting as a Research Supervisor and
        Guiding M.Phil and Ph.D Scholars. She has also completed M.A.Sociology,
        PGDHRM and M.Sc.Psychology. She is working as an Assistant Professor of
        Commerce in Pioneer Kumaraswamy College, Nagercoil, Since 2013. She has
        18 years of Teaching and Administrative experience in Schools, Colleges
        and NGO’s. She has participated in more than 200 National and
        International Seminars , Webinars, and Training Programs and published
        more than 60 Research articles and 11 Books. She is a NLP, Soft Skill
        Trainer and Counselor. She Served as Resource person and delivered her
        Expertise in Various Institutions. She is an Authorised Resource Person
        of Value Idea Investment Services, Xcelerating Minds, BSE , Mumbai, She
        acts as the resource person for National and International seminars and
        Conferences and had delivered several guest lecturers for Academic
        upliftment.
      </h5>
    </div>
  </div>
  <div>
    <div class="container about">
      <h5>She Had Received</h5>
      <ul>
        <li>
          <h6>
            <b class="award">THE REAL SUPER WOMEN AWARD 2020</b> - from FOREVER
            STAR INDIA
          </h6>
        </li>
        <li>
          <h6>
            <b class="award">WOMEN ACHIEVER AWARD - 2020</b> from Manonmaniam
            Sundaranar University, Tirunelveli.
          </h6>
        </li>
        <li>
          <h6>
            <b class="award">YOUNG EDUCATOR AWARD</b>
          </h6>
        </li>
        <li>
          <h6><b class="award">KAVIYARASAR KALAIMANI AWARD</b></h6>
        </li>
        <li>
          <h6><b class="award">AGIMSAI GANDHI AWARD</b></h6>
        </li>
        <li>
          <h6>
            <b class="award">Dr. RADHAKRISHNA SHIKSHANA RATNA NATIONAL AWARD</b>
          </h6>
        </li>
        <li>
          <h6><b class="award">BEST NSS PROGRAM OFFICER AWARD</b></h6>
        </li>
        <li>
          <h6>
            <b class="award">4 BEST PAPER AND BEST PAPER PRESENTER AWARD</b>
          </h6>
        </li>
      </ul>
      <h5 class="text-justify about mb-4">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As the Founder president of CAPE FORUM -
        YOU TRUST, Kanyakumari District, Tamilnadu. She had Organised several
        National and International Level Conferences, Seminar, Workshops and
        Training Programsand Events for Research Scholars, Academicians,
        Students environment and Women Community. She actively involves herself
        in social activities. Her interest over Community services lead to form
        this Trust. The desirous establishment of the trust is to concentrate on
        Research and Development, Skill Development & Training, Female health &
        Awareness , Education & Child Development and Women Empowerment.
      </h5>
    </div>
  </div>
</div>
