<div class="container">
    <div class="img">
        <img src="../../../assets/Forum-images/women.jpg" class="img-fluid" height="400" width="750" alt="Farmer forum">
    </div>
    <div>
        <h1 class="text-center mt-3"> ABOUT THE FORUM</h1>
        <p class="text-justify">
            &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Swami Vivekananda strived to uplift the plight of women, in particular
            “Indian Women”. His thoughts and quotes on women say “There is no chance for the welfare of the world unless
            the condition of women is improved.” And “There is no hope of rise for that family or country where there is
            no estimation of women, where they live in sadness.” This forum was organised , keeping these two sayings of
            Swami Vivekananda. In order to improve the condition of a woman; and to make them live happy in this
            society, she must not only be educated but also be empowered. The main purpose of the forum is to educate
            and empower women. </p>
        <h3>VISION</h3>
        <ul>
            <li>Empower woman to participate in and influence the society in a right way.</li>
        </ul>
        <h3>MISSION</h3>
        <ul>
            <li> Educate and Empower women to focus on professional and personal development.</li>
        </ul>
        <h3>OBJECTIVES</h3>
        <ul>
            <li>To create a common platform for the Womens</li>
            <li>To protect the interest of the woman and promote their idea.</li>
            <li>To provide a forum for open discussion on matters of interest and concern to constituent women’s organisations.</li>
            <li>To create awareness about women rights.</li>
            <li>To organize entertaining & educational activities for the development of women.</li>
            <li>Undertakes, promotes and coordinates both fundamental and applied research on women and development.</li>
            <li>Organises and assists training programmes (Skill Development) to empower women.</li>
            <li> Develops and promotes health (in collaboration with other agencies) educational training, awareness and health camps for women, especially for under-privileged women.</li>
        </ul>
    </div>
</div>