<div class="container">
    <div class="img">
        <img src="../../../assets/Forum-images/students.jpg" class="img-fluid" height="400" width="750" alt="Farmer forum">
    </div>
    <div>
        <h1 class="text-center mt-3"> ABOUT THE FORUM</h1>
        <p class="text-justify">
            &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;  OF, BY AND FOR YOU’s STUDENTS FORUM is the association of students from higher education. Every member of the forum gets an opportunity to empower themselves.  The forum organises various activities to empower students. This forum acts as the Platform for students to exhibit their talents. It also organises sports meet, literary, Cultural and Talent meet, career guidance and personality development workshops.
        </p>
        <h3>MISSION</h3>
            
        <p>The mission of the forum is to provide opportunities to students to pursue their personal, Academic and professional goals by developing their personal and professional relationship through the forum. Every student gets a chance to learn leadership and organising Skills and ultimately serve the Community and Nation.</p>
        <h3>OBJECTIVE</h3>
        <ul>
            <li>To educate and empower the students community by providing various Programs and events.</li>
            <li>To promote students to a democratic outlook through social, cultural and intellectual development.</li>
            <li>To promote consciousness among the students about the current events, So that they contribute towards the development of the Nation.</li>
            <li>To create a common platform for the students.</li>
            <li>To protect the interest of the students and promote their idea.   </li>
        </ul>
    </div>
</div>