<h1>MEMBERSHIPS</h1>
<div class="container text-justify mt-4">
    <h3 class="text-center">ABOUT CAPE FORUM</h3>
    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CAPE FORUM – OF BY AND FOR YOU TRUST empowers budding young generation with
        research and Skill Development ambiance
        by producing research articles in various disciplines and providing Skill development Trainings and Events. The
        forum consists of eminent Advisors , Trainers and Supervisors in the various fields of Arts and Science. This
        forum
        is organized to provide Non-Profitable service to the Researchers, Teachers and Students and also provides
        Seminars,
        Conferences, Workshops, Educational Training, Research Activities, Awards and Publications. The main aim of the
        forum is to upgrade the quality of research and Empowerment among the Students, Research Scholars & faculty
        members
        involved in Research and Education from Arts and Social Science viz., Humanities, Commerce, Management,
        Education
        and the allied fields. Its important objective is to disseminate, strengthen and enhance knowledge and Empower
        with
        Skill.</p>
    <h3 class="text-center">MEMBERSHIP ELIGIBILITY AND PROCEDURE</h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Membership  is  open  for  any  Individual  or  an  Institution  who  may  be 
        interested in the objectives of the Research Forum and  in Aacademic environment 
        Viz.,  Faculty  Fraternity,  Researchers  or  Students  and    willing  to  associate  in  the 
        advancement  of  Research.  Application  to  membership  can  be  considered  by  the 
        Executive  Committee  to  become  a  member  of  CAPE  FORUM  provided  that  the 
        applicant has a justifiable connection with academic related or a business/ industry 
        related activity in the field of Arts and Social Science. Such a person may apply for 
        the Membership of  the forum   in the prescribed form accompanied by the 
        prescribed  fee.  All  applications  received  for  membership  of  the  Association  shall 
        be  placed  before  the  Executive  Committee  by  the  Secretary  for  its  consideration. 
        The Executive Committee, without any prejudice of caste, color, creed, religion or 
        gender  may  consider  the  application  to  accept  or  reject  it  without  assigning  any 
        reason.  The  accepted  applications  shall  be  properly  filed  and  the  names  enrolled 
         
        with  all  relevant  details  in  a  register  called  the  Register  of  Members  to  be 
        maintained by the Secretary of the Forum.  </p>
    <h3 class="text-center">MEMBERSHIP BENEFIT</h3>
    <ul>
        <li>Members will get a Membership certificate with Membership ID.</li>
        <li>Members  can  take  part  in  events  (Conference,  Seminar,  Workshop,  FDP  etc.) 
            organised by the Various Forums of CAPE (Viz., Women’s Forum, Research 
            Forum,  Students  Forum,  Teachers  Forum  &  Skill  Development  Forum)  at 
            concessional rate.</li>
        <li>Member gets an Opportunity to present and publish paper as Proceedings in the National & International
            Conferences conducted by the Forum.</li>
        <li>Members  can  Organise  Academic  /  Research  based  Workshops,  Conferences, 
            Seminars and FDP, in association with the Forum in their Institution. 
        </li>
        <li>Members  can  act  as  the  Resource  Person  /  Honorary  post/  Advisory  Board 
            members in the Conference, Seminar, Workshop, etc. organised by the Forum/ 
            In Association with Other Institutions.
        </li>
        <li>Members  can  avail  Support/  Assistance  in  Publication  of  Articles  in  Peer 
            Reviewed International Journals / ISBN Books. </li>
        <li>Members  shall  avail  ISBN  Book  Publication  assistance  from  Our  Publishers. 
            (OFBYANDFORYOU PUBLICATION).</li>
        <li>Members get the opportunity to act as the Editor in Chief / Co- Editor/ Editorial 
            Board Members for the Edited Volume with ISBN published by the Forum.</li>
        <li>Members get an Opportunity to network with professional peers.</li>
        <li>Members get Leadership opportunities to develop their academic and 
            professional Career. </li>
        <li>Members receive Annual Magazine (E- Pdf) at free cost.</li>
        <li>Members get an Opportunity to receive awards declared by the Forum.</li>
        <li>Institution  /  Department  which  has  more  than  3  Life  Members  May  Sign 
            MOU/MOA with the CAPE FORUM – YOU TRUST and avail benefits. </li>
    </ul>

    <table mdbTable bordered="true">
        <thead class="pink darken-1 white-text">
            <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let el of elements">
                <th scope="row">{{el.fee}}</th>
                <td>{{el.India}}</td>
                <td>{{el.Abroad}}</td>
            </tr>
        </tbody>
    </table>

    <h3 class="text-center mt-4" class="text-center">MODE OF PAYMENT</h3>
    <h6 class="mt-4">Membership fee can be paid directly to the below mentioned TRUST Account</h6>
    <table mdbTable class="align-center mt-4" bordered="true">
        <thead>
            <tr>
                <th *ngFor="let head of headElement" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let al of element">
                <th scope="row">
                    <p>{{al.a}}</p>
                </th>
                <td>
                    <p>{{al.b}}</p>
                </td>
            </tr>
        </tbody>
    </table>

    <h6 class="mt-4"> After transferring amount in above account send its receipt and membership form by mail to
        caperesearchforum&#64;gmail.com . </h6><br>
    <h6> Membership fee can be paid by Demand Draft, in favour of “OF BY AND FOR YOU”, payable at Nagercoil / NEFT /
        IMPS/ / Google pay/ Phone Pay / Paytm &#64; 9585212775.
    </h6>


</div>
