<div class="container">
    <div class="img">
        <img src="../../../assets/Forum-images/research.jpg" class="img-fluid" alt="Farmer forum">
    </div>
    <div>
        <h1 class="text-center mt-3"> ABOUT THE FORUM</h1>
        <p class="text-justify">
            &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;  OF, BY AND FOR YOU’s RESEARCH FORUM empowers budding young generation with research ambiance by producing
            research articles in various disciplines. The forum consists of eminent Advisors and Research Supervisors in
            the various fields of Arts and Science. This forum is organized to provide Non-Profitable service to the
            Researchers, and also provides Seminars, Conferences, Workshops, Educational Training, Research Activities
            and Publications. The main aim of the forum is to upgrade the quality of research work among the Students,
            Research Scholars & faculty members involved in Research from Arts and Social Science viz., Humanities,
            Commerce, Management, Education and the Allied fields. It’s important objective is to disseminate,
            strengthen and enhance knowledge in research.
        </p>
    </div>
</div>