<div class="container">
    <div class="img">
        <img src="../../../assets/Forum-images/Teachers.jpg" class="img-fluid" height="400" width="750" alt="Farmer forum">
    </div>
    <div>
        <h1 class="text-center mt-3"> ABOUT THE FORUM</h1>
        <p class="text-justify">
            &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; The forum is the association of professionals engaged in teaching in
            Schools and colleges of public and private educational institutions. The aim and objective of the forum is
            to improve the status of education in India by improving teaching methods. The forum provides opportunity
            for teachers to enhance their teaching skills by providing Conference, Seminars, Trainings and workshops for
            teachers. This forum acts as the common platform for teachers to share their ideas to promote quality in
            education.</p>
        <h3>OBJECTIVES</h3>
        <ul>
            <li>To develop and promote education by uniting teachers in India.</li>
            <li>To organize seminars, Conference, panel discussions and training programs for capacity building of
                teachers.</li>
            <li>To improve teaching methods, by create a common platform for Discussion for Teachers.</li>
            <li>To provide a means for the expression of their collective opinion on matters affecting the interests of
                education and of the teaching profession.</li>
            <li>To safeguard and improve the conditions of employment of its members and to promote their interests.
            </li>
            <li>To regulate the relations between members, their fellow members and between members and their employers.
            </li>
        </ul>

    </div>
</div>