.container {
  margin-top: 30px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  animation: blink 0.5s infinite;
  color: red;
  font-weight: bold;
  text-shadow: darkblue;
}
