<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="../../assets/home_images/2.jpg"
        alt="First slide"
      />
      <div class="mask rgba-black-light waves-light"></div>
    </div>
    <div class="carousel-caption">
      <h6 class="h6-responsive"></h6>
      <p></p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="../../assets/home_images/3.JPG"
        alt="Second slide"
      />
      <div class="mask rgba-black-light waves-light"></div>
    </div>
    <div class="carousel-caption">
      <h6 class="h6-responsive"></h6>
      <p></p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="../../assets/home_images/4.jpg"
        alt="Third slide"
      />
      <div class="mask rgba-black-light waves-light"></div>
    </div>
    <div class="carousel-caption">
      <h6 class="h6-responsive"></h6>
      <p></p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>CAPE  FORUM  – YOU TRUST </h2>
        <p class="d-flex text-justify">
          - is a CONSORTIUM OF SCHOOL 
          AND  COLLEGE  TEACHING  FRATERNITY  IN  INDIA,  It  consists  of  eminent 
          Professionals  and  Academicians  from  various  streams.  The  forum  is  organized  to 
          provide Non-Profitable service to the Academicians and Researchers, and to assist, 
          Co-organize  Seminars,  Conferences,  Workshops,  Educational  Training,  Guide  for 
          Research  Activities  and  Assist  Publications.  The  main  aim  of  the  forum  is  to 
          upgrade the quality in Education and research work among the Students, Research 
          Scholars  &  faculty  fraternity  involved  in  Research  from  Arts  and  Social  Science 
          viz.,  Humanities,  Commerce,  Management,  Education  and  the  allied  fields.  The 
          objective is to disseminate, strengthen and enhance knowledge in research. The desirous of Establishment of a
          Trust is for
        </p>
        <ul>
          <li>
            <p>Research and Development</p>
          </li>
          <li>
            <p>Skill Development & Training</p>
          </li>
          <li>
            <p>Female health & Awareness</p>
          </li>
          <li>
            <p>Education & Child Development and</p>
          </li>
          <li>
            <p>Women Empowerment</p>
          </li>
        </ul>
        <p class="d-flex text-justify">
          CAPE FORUM Conducts various programs for Academicians, Research
          scholars, Students and Community to fulfill the objectives of OF BY
          AND FOR YOU TRUST.
        </p>
      </div>
      <div class="col-md-6 mb-4">
        <!-- Card -->
        <mdb-card>
          <mdb-card-header class="pink darken-1 white-text text-center py-4">
            <h6>
              <strong>News and Announcements</strong>
            </h6>
          </mdb-card-header>
          <mdb-card-body>
            <marquee width="100%" direction="up" height="600px">
              <h6>
                1.<a
                  target="_blank"
                  href="../../assets/award-pdf/Womens Conclave 2021 - CAPE.pdf"
                  >Women's Conclave - 2021</a
                >
                <span class="blink"> NEW</span>
              </h6>
              <br />
              <h6>
                2.<a
                  target="_blank"
                  href="../../assets/award-pdf/WOMENS CONCLAVE 2021 - Program in Brief.pdf"
                  >Women's Conclave - 2021 Brief</a
                >
                <span class="blink"> NEW</span>
              </h6>
              <br />
              <h6>
                3.<a href="#"
                  >NATIONAL TEACHERS DAY AWARD & CELEBRATION - 2020</a
                >
              </h6>
              <br />
              <h6>
                4.<a
                  target="_blank"
                  href="../../assets/award-pdf/1. Teachers day Award - Nomination - Flyer.pdf"
                  >TEACHERS DAY AWARD NOMINATION - 2020
                </a>
              </h6>
              <br />
              <h6>
                5.<a
                  href="../../assets/award-pdf/1.WEBINAR ON NEW EDUCATION POLICY - 22.08.2020-converted.pdf"
                  >WEBINAR ON NEW EDUCATION POLICY - 22.08.2020</a
                >
              </h6>
              <br />
              <h6>
                6.<a
                  href="../../assets/award-pdf/2. RANGOLI COMPETITION - 2020-converted.pdf"
                  >RANGOLI COMPETITION - 2020</a
                >
              </h6>
              <br />
              <h6>
                7.<a
                  href="../../assets/award-pdf/3.OUTSTANDING ASPIRANT  WINNER - 2020.pdf"
                  >OUTSTANDING ASPIRANT AWARD - 2020</a
                >
              </h6>
              <br />
              <h6>
                8.<a
                  href="../../assets/award-pdf/4. OUTSTANDING AWARD NOITFICATION.pdf"
                  >AWARD NOITFICATION</a
                >
              </h6>
              <br />
              <h6>
                9.<a
                  href="../../assets/award-pdf/7. ENTREPRENEURIAL AWARD - FLYER.pdf"
                  >YOUNG ENTREPRENEUR AWARD WINNER - CSDF</a
                >
              </h6>
              <br />
              <h6>
                10.<a
                  target="_blank"
                  href="../../assets/award-pdf/OUTSTANDING MENTOR AWARDEES - 2020.pdf"
                  >MENTOR AWARD WINNER - CSDF</a
                >
              </h6>
              <br />
              <h6>
                11.<a
                  target="_blank"
                  href="../../assets/award-pdf/YOUNG ENTREPRENEURS AWARDEES - 2020.pdf"
                  >ENTREPRENEURIAL AWARD - FLYER</a
                >
              </h6>
              <br />
            </marquee>
          </mdb-card-body>
        </mdb-card>
        <!-- Material form subscription -->
      </div>
    </div>
  </div>
</section>
<div class="container align">
  <div class="container text-center">
    <img
      src="../../assets/home_images/Women's-conclave 2021.jpeg"
      class="img-fluid text-center mb-4"
      alt="Responsive image"
      height="400"
      width="400"
    />
    <img
      src="../../assets/home_images/Teachers day award.jpeg"
      class="img-fluid text-center mb-4"
      alt="Responsive image"
      height="366"
      width="366"
    />
  </div>
  <div class="container text-center">
    <img
      src="../../assets/home_images/Teachers day award celebration.jpeg"
      class="img-fluid"
      alt="Responsive image"
      height="500"
      width="800"
    />
  </div>
  <div class="container text-center"></div>
</div>
