<div class="body container">
  <h6 class="text-center">CAPE FORUM</h6>
  <h6 class="text-center">OF BY AND FOR - YOU PUBLICATION,</h6>
  <h6 class="text-center">
    Publication - Reg. No. TN09D001895 (Govt. of India, Ministry of MSME
    Registration)
  </h6>
  <h6 class="text-center">Email: ofbyandforyou@gmail.com</h6>

  <div class="table-responsive">
    <table class="table table-bordered" style="width: 100%">
      <thead>
        <tr>
          <th style="width: 15%; text-align: center">Serial No.</th>
          <th style="text-align: center">Label</th>
          <th>Publication Name</th>
          <th class="text-nowrap">ISBN Number</th>
          <th style="width: 15%; text-align: center">Year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData; let i = index">
          <td style="text-align: center">{{ i + 1 }}</td>
          <td>
            <img src="{{ row.label }}" alt="Image 1" height="150" width="100" />
          </td>
          <td>
            <p style="text-decoration: underline;" (click)="handleButtonClick(row.pdf)">{{ row.name }}</p>
          </td>
          <td style="white-space: nowrap;">{{ row.isbn }}</td>
          <td style="text-align: center">{{ row.year }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
