<div class="body container">
    <h2 class="text-center">PUBLICATIONS</h2>
    <h6 class="text-center">Note: Click the Images to view the full content</h6>
    <div class="row">
        <div class="col-sm">
            <a class="justify-center" target="_blank" href="../../assets/Publications-pdf/Digital era - Mar 2019.pdf"><img
                    class="relative waves-light rounded mx-auto d-block mb-4 mt-4"
                    src="../../assets/Publications-label/Digital-era.png" alt="" height="300" width="200"></a></div>
        <div class="col-sm">
            <a target="_blank" href="../../assets/Publications-pdf/DIGITALISATION IN INDIA  - Jul 2019.pdf"><img
                    class="relative waves-light rounded mx-auto d-block mb-4 mt-4"
                    src="../../assets/Publications-label/DIGITALISATION-IN-INDIA.jpg" alt="" height="300"
                    width="200"></a> </div>
        <div class="col-sm">
            <a target="_blank" href="../../assets/Publications-pdf/Emperor Journal - MAr 2018.pdf"><img
                    class="relative waves-light rounded mx-auto d-block mb-4 mt-4"
                    src="../../assets/Publications-label/Emperor.jpg" alt="" height="300" width="200"></a> </div>
        <div class="col-sm">
            <a target="_blank" href="../../assets/Publications-pdf/Enterpreneurship -An Introduction - Sep 2018.pdf"><img
                    class="relative waves-light rounded mx-auto d-block mb-4 mt-4"
                    src="../../assets/Publications-label/Enterpreneurship-An Introduction.jpg" alt="" height="300"
                    width="200"></a> </div>
        <div class="col-sm">
            <a target="_blank" href="../../assets/Publications-pdf/Institutional finance to entrepreneurs - Sep 2018.pdf"><img
                    class="relative waves-light rounded mx-auto d-block mb-4 mt-4"
                    src="../../assets/Publications-label/Institutional-finance-to-entrepreneurs.jpg" alt="" height="300" width="200"></a> </div>
        <div class="col-sm">
            <a target="_blank" href="../../assets/Publications-pdf/LEADERSHIP BEHAVIOUR - Jan 2019.pdf"><img
                    class="relative waves-light rounded mx-auto d-block mb-4 mt-4"
                    src="../../assets/Publications-label/LEADERSHIP-BEHAVIOUR.jpg" alt="" height="300" width="200"></a> </div>
        <div class="col-sm">
            <a target="_blank" href="../../assets/Publications-pdf/PARADIGM SHIFT BOOK - Aug 2019.pdf"><img
                    class="relative waves-light rounded mx-auto d-block mb-4 mt-4"
                    src="../../assets/Publications-label/PARADIGM-SHIFT-BOOK.jpg" alt="" height="300" width="200"></a> </div>
        <div class="col-sm">
            <a target="_blank" href="../../assets/Publications-pdf/RECENT TRENDS IN ARTS _ SCIENCE - Apr 2020.pdf"><img
                    class="relative waves-light rounded mx-auto d-block mb-4 mt-4"
                    src="../../assets/Publications-label/RECENT-TRENDS-IN-ARTS-SCIENCE.jpg" alt="" height="300" width="200"></a> </div>
        <div class="col-sm">
            <a target="_blank" href="../../assets/Publications-pdf/RESEARCHERS VIEW ON COVID - 19 - June 2020.pdf"><img
                    class="relative waves-light rounded mx-auto d-block mb-4 mt-4"
                    src="../../assets/Publications-label/RESEARCHERS-VIEW-ON-COVID-19.jpg" alt="" height="300" width="200"></a> </div>
        <div class="col-sm">
            <a target="_blank" href="../../assets/Publications-pdf/Social Responsibility - June 2018.pdf"><img
                    class="relative waves-light rounded mx-auto d-block mb-4 mt-4"
                    src="../../assets/Publications-label/Social-Responsibility.jpg" alt="" height="300" width="200"></a> </div>
        <div class="col-sm">
            <a target="_blank" href="../../assets/Publications-pdf/STATUS OF AGRICULTURE IN INDIA -Dec - 2019.pdf"><img
                    class="relative waves-light rounded mx-auto d-block mb-4 mt-4"
                    src="../../assets/Publications-label/STATUS-OF-AGRICULTURE-IN-INDIA.jpg" alt="" height="300" width="200"></a> </div>
        <div class="col-sm">
            <a target="_blank" href="../../assets/Publications-pdf/TRENDING FRONTIERS IN COMMERCE AND MANAGEMENT - Mar 2020.pdf"><img
                    class="relative waves-light rounded mx-auto d-block mb-4 mt-4"
                    src="../../assets/Publications-label/TRENDING-FRONTIERS-IN-COMMERCE-ND-MANAGEMENT.jpg" alt="" height="300" width="200"></a> </div>
    </div>
</div>