<div class="body container">
    <h6 class="text-center">CAPE FORUM</h6>
    <h6 class="text-center">OF BY AND FOR - YOU PUBLICATION, </h6>
    <h6 class="text-center">Publication - Reg. No. TN09D001895 (Govt. of India, Ministry of MSME Registration)</h6>
    <h6 class="text-center">Email: ofbyandforyou@gmail.com</h6>
    <div class="image-item">
        <img src="../../assets/Publications-label/English poetry.png" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">Enigmatic Elegance of The Artistry of English Poetry and Creative Expression.</div>
        <button (click)="handleButtonClick('ENGLISH POETRY - BUK.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/POM-BOOK.jpeg" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">Principle of Management</div>
        <button (click)="handleButtonClick('POM book.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/Hindi - rishi label.jpeg" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">Guntavnukichi Gurukili</div>
        <button (click)="handleButtonClick('Hindi - RISHI.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
     <div class="image-item">
        <img src="../../assets/Publications-label/Business-research-methods.jpeg" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">BUSINESS RESEARCH METHODS by, Dr. RISHIKAYSH KAAKANDIKAR & Prof.RUPALI PANKAJ GAWANDE</div>
        <button (click)="handleButtonClick('RISHI-BRM.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/2nd-national-conf.jpeg" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">PROCEEDINGS OF THE SECOND INTERNATIONAL CONFERENCE ON SOCIAL SCIENCES, EDUCATION & TECHNOLOGY</div>
        <button (click)="handleButtonClick('2nd national conf SET.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/Proceeding-vol1-nomor1.jpeg" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">PROCEEDINGS OF THE HYBRID INTERNATIONAL CONFERENCE - BOSOWA - Ist MBIC - VOL - NUMBER -1</div>
        <button (click)="handleButtonClick('VOLUME 1 NOMOR 1.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/Proceeding-vol1-nomor2.jpeg" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">PROCEEDINGS OF THE HYBRID INTERNATIONAL CONFERENCE - BOSOWA - Ist MBIC - VOL - NUMBER -2</div>
        <button (click)="handleButtonClick('VOLUME 1 NOMOR 2.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/ISCMI.jpeg" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">International Students Conference on Multiple Intelligences (ISCMI)</div>
        <button (click)="handleButtonClick('ISCMI - CS ANDI.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/Digital-era.png" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">Commerce and Management in digital Era</div>
        <button (click)="handleButtonClick('Digital era - Mar 2019.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/DIGITALISATION-IN-INDIA.jpg" alt="Image 2" height="200" width="120">
        <div class="image-title col-md-6">Digitalisation in India</div>
        <button (click)="handleButtonClick('DIGITALISATION IN INDIA  - Jul 2019.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/Emperor.jpg" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">Emperor international journal of finance and Management Research</div>
        <button (click)="handleButtonClick('Emperor Journal - MAr 2018.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/Enterpreneurship-An Introduction.jpg" alt="Image 2" height="200" width="120">
        <div class="image-title col-md-6">Entrepreneurship - An Introduction</div>
        <button (click)="handleButtonClick('Enterpreneurship -An Introduction - Sep 2018.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/Institutional-finance-to-entrepreneurs.jpg" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">Institutional Finance To Entrepreneurs</div>
        <button (click)="handleButtonClick('Institutional finance to entrepreneurs - Sep 2018.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/PARADIGM-SHIFT-BOOK.jpg" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">A paradigm shift in banking, marketing, and HRM</div>
        <button (click)="handleButtonClick('PARADIGM SHIFT BOOK - Aug 2019.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/RECENT-TRENDS-IN-ARTS-SCIENCE.jpg" alt="Image 2" height="200" width="120">
        <div class="image-title col-md-6">Recent researches in arts and science</div>
        <button (click)="handleButtonClick('RECENT TRENDS IN ARTS _ SCIENCE - Apr 2020.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/RESEARCHERS-VIEW-ON-COVID-19.jpg" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">Researchers' view on COVID-19</div>
        <button (click)="handleButtonClick('RESEARCHERS VIEW ON COVID - 19 - June 2020.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/Social-Responsibility.jpg" alt="Image 2" height="200" width="120">
        <div class="image-title col-md-6">Social Responsibility</div>
        <button (click)="handleButtonClick('Social Responsibility - June 2018.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/STATUS-OF-AGRICULTURE-IN-INDIA.jpg" alt="Image 1" height="200" width="120">
        <div class="image-title col-md-6">Status of agriculture in India</div>
        <button (click)="handleButtonClick('STATUS OF AGRICULTURE IN INDIA -Dec - 2019.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
    <div class="image-item">
        <img src="../../assets/Publications-label/TRENDING-FRONTIERS-IN-COMMERCE-ND-MANAGEMENT.jpg" alt="Image 2" height="200" width="120">
        <div class="image-title col-md-6">Trending frontiers and prospects in commerce and management</div>
        <button (click)="handleButtonClick('TRENDING FRONTIERS IN COMMERCE AND MANAGEMENT - Mar 2020.pdf')" class="view-pdf-button col-md-3">View PDF</button>
    </div>
</div>