.body {
  margin-top: 60px;
  flex-wrap: wrap;
}
table {
  cursor: pointer;
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

td,
th {
  text-align: left;
  padding: 8px;
}
tr:hover {
  background-color: #dddddd;
}