.body{
    margin-top: 60px;
    flex-wrap: wrap;
}

.image-item {
    flex: 0 0 30%; /* Adjust this value to change the width of each item */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.view-pdf-button {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}