<h1 class="text-center">2020 Activities</h1>
<div class="container">
  <div class="row">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <div class="view w-100">
          <img
            class="d-block w-100"
            src="../../assets/Activities/2020/1.JPG"
            alt="First slide"
          />
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h6 class="h6-responsive">
            INTERNATIONAL WOMENS DAY AND INSPIRATIONAL WOMEN AWARD PROGRAM 2020
          </h6>
          <p></p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img
            class="d-block w-100"
            src="../../assets/Activities/2020/2.jpg"
            alt="Second slide"
          />
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h6 class="h6-responsive">
            INTERNATIONAL WOMENS DAY AND INSPIRATIONAL WOMEN AWARD PROGRAM 2020
          </h6>
          <p></p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img
            class="d-block w-100"
            src="../../assets/Activities/2020/3.jpg"
            alt="Third slide"
          />
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h6 class="h6-responsive">
            INTERNATIONAL WOMENS DAY AND INSPIRATIONAL WOMEN AWARD PROGRAM 2020
          </h6>
          <p></p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>
<h1 class="text-center">2018-2019 Activities</h1>
<div class="container">
  <div class="row">
    <section class="blue-grey lighten-5 pt-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/1.a/_DSC0031.JPG"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL WORKSHOP ON APPLICATION OF SPSS & R ON DATA
                    ANALYSIS on 13th & 14th Oct 2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/1.a/_DSC0034.JPG"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL WORKSHOP ON APPLICATION OF SPSS & R ON DATA
                    ANALYSIS on 13th & 14th Oct 2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/1.a/ASV_3510.jpg"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL WORKSHOP ON APPLICATION OF SPSS & R ON DATA
                    ANALYSIS on 13th & 14th Oct 2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- e col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 -->

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/1.b/ASV_3535.jpg"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    YOUNG RESEARCHERS AWARD PROGRAM on 14th Oct 2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/1.b/ASV_3536.jpg"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    YOUNG RESEARCHERS AWARD PROGRAM on 14th Oct 2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/1.b/ASV_3542.jpg"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    YOUNG RESEARCHERS AWARD PROGRAM on 14th Oct 2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- e col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/1.c/WhatsApp Image 2019-02-19 at 09.52.41.jpeg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WORKSHOP ON ART OF WRITING ARTICLES on 30.12.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/1.c/WhatsApp Image 2019-02-19 at 09.52.39.jpeg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WORKSHOP ON ART OF WRITING ARTICLES on 30.12.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/1.c/WhatsApp Image 2019-02-19 at 09.52.37.jpeg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WORKSHOP ON ART OF WRITING ARTICLES on 30.12.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/2. 19/DSC_0134.JPG"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE COMMERCE AND MANAGEMENT IN DIGITAL
                    ERA on 19th Jan 2019
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/2. 19/DSC_0038.JPG"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE COMMERCE AND MANAGEMENT IN DIGITAL
                    ERA on 19th Jan 2019
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/2. 19/DSC_0039.JPG"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE COMMERCE AND MANAGEMENT IN DIGITAL
                    ERA on 19th Jan 2019
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/3.19/20190218_062443.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL WORKSHOP ON “ART OF WRITING ARTICLES on 15th
                    February 2019
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/3.19/IMG-20190215-WA0223.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL WORKSHOP ON “ART OF WRITING ARTICLES on 15th
                    February 2019
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/3.19/IMG-20190215-WA0224.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL WORKSHOP ON “ART OF WRITING ARTICLES on 15th
                    February 2019
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/4.19/20190307_155036.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE ON COMMERCE, MANAGEMENT AND
                    LEADERSHIP – GLOBAL PERSPECTIVE 2019 on 19th Jan 2019.
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/4.19/IMG_20190306_105209.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE ON COMMERCE, MANAGEMENT AND
                    LEADERSHIP – GLOBAL PERSPECTIVE 2019 on 19th Jan 2019.
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/4.19/IMG-20190306-WA0153.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE ON COMMERCE, MANAGEMENT AND
                    LEADERSHIP – GLOBAL PERSPECTIVE 2019 on 19th Jan 2019.
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/5. 19/Photoes/BeautyPlus_20190628191326827_save.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL SEMINAR STATUS OF AGRICULTURE IN INDIA
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/5. 19/Photoes/BeautyPlus_20190628191435299_save.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL SEMINAR STATUS OF AGRICULTURE IN INDIA
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/5. 19/Photoes/BeautyPlus_20190628191504650_save.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL SEMINAR STATUS OF AGRICULTURE IN INDIA
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/6.19/PHotoes Conf/DSC_0019.JPG"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE ON COMMERCE AND MANAGEMENT IN
                    DIGITAL ERA
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/6.19/PHotoes Conf/DSC_0052.JPG"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE ON COMMERCE AND MANAGEMENT IN
                    DIGITAL ERA
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/6.19/PHotoes Conf/DSC_0091.JPG"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE ON COMMERCE AND MANAGEMENT IN
                    DIGITAL ERA
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/7.19/Photoes - ED/IMG-20200214-WA0111.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL SEMINAR ON ENTREPRENEURSHIP
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/7.19/Photoes - ED/IMG-20200215-WA0166.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL SEMINAR ON ENTREPRENEURSHIP
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/7.19/Photoes - ED/IMG-20200218-WA0085.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL SEMINAR ON ENTREPRENEURSHIP
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/8.19/Photoes - Int Conf/IMG-20200304-WA0057.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE ON TRENDING FRONTIERS AND PROSPECTS
                    IN COMMERCE AND MANAGEMENT
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/8.19/Photoes - Int Conf/IMG-20200304-WA0059.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE ON TRENDING FRONTIERS AND PROSPECTS
                    IN COMMERCE AND MANAGEMENT
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/8.19/Photoes - Int Conf/IMG-20200307-WA0022.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE ON TRENDING FRONTIERS AND PROSPECTS
                    IN COMMERCE AND MANAGEMENT
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/9.19/Photoes judes cof/IMG-20200305-WA0100.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE ON PROSPECTS AND HORIZONS IN
                    COMMERCE AND MANAGEMENT
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/9.19/Photoes judes cof/IMG-20200305-WA0108.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE ON PROSPECTS AND HORIZONS IN
                    COMMERCE AND MANAGEMENT
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/9.19/Photoes judes cof/IMG-20200305-WA0118.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    INTERNATIONAL CONFERENCE ON PROSPECTS AND HORIZONS IN
                    COMMERCE AND MANAGEMENT
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/10.19/IMG-20191221-WA0011.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">SERVICE FOR MENTALLY CHALLENGED</h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/10.19/IMG-20191221-WA0116.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">SERVICE FOR MENTALLY CHALLENGED</h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2018-19/10.19/Mentally Challenged Help - Dec 2019.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">SERVICE FOR MENTALLY CHALLENGED</h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
        </div>
        <!-- e row -->
      </div>
      <!-- e container -->
    </section>
    <!-- e section -->
  </div>
</div>
<h1 class="text-center">2017-2018 Activities</h1>
<div class="container">
  <div class="row">
    <section class="blue-grey lighten-5 pt-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/1/1.b.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL SEMINAR ON CONNECTING PEOPLE WITH NATURE ON
                    07.10.2017
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/1/1.e.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL SEMINAR ON CONNECTING PEOPLE WITH NATURE ON
                    07.10.2017
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/1/1.f.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL SEMINAR ON CONNECTING PEOPLE WITH NATURE ON
                    07.10.2017
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- e col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 -->

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/2/2.e.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    POSTER PRESENTATION FOR COLLEGE STUDENTS
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/2/2.g.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    POSTER PRESENTATION FOR COLLEGE STUDENTS
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/2/2.k.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    POSTER PRESENTATION FOR COLLEGE STUDENTS
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- e col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/3/3.1.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WELCOME TO YOUNG RESEARCHERS on 29th Oct 2017
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/3/3.5.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WELCOME TO YOUNG RESEARCHERS on 29th Oct 2017
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/3/3.7.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WELCOME TO YOUNG RESEARCHERS on 29th Oct 2017
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- e col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 -->

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/4/IMG_20150923_100626.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    GROUP DISCUSSION on 12th Dec 2017
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/4/IMG_20150923_110637.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    GROUP DISCUSSION on 12th Dec 2017
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/4/IMG_20150923_110727.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    GROUP DISCUSSION on 12th Dec 2017
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- e col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 -->

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/5/WhatsApp Image 2018-01-02 at 18.43.18(2).jpeg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    QUESTIONNAIRE MEET on 02.01.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/5/WhatsApp Image 2018-01-02 at 18.43.18(5).jpeg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    QUESTIONNAIRE MEET on 02.01.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/5/WhatsApp Image 2018-01-02 at 18.43.18(9).jpeg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    QUESTIONNAIRE MEET on 02.01.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- e col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 -->

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/6/WhatsApp Image 2018-01-20 at 5.20.31 PM(4).jpeg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WORKSHOP ON PERSONALITY DEVELOPMENT on 20.01.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/6/WhatsApp Image 2018-01-20 at 5.22.08 PM(3).jpeg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WORKSHOP ON PERSONALITY DEVELOPMENT on 20.01.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/6/WhatsApp Image 2018-01-20 at 5.26.28 PM(5).jpeg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WORKSHOP ON PERSONALITY DEVELOPMENT on 20.01.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- e col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 -->

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/7/WhatsApp Image 2018-01-28 at 2.45.16 PM.jpeg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    DATA COLLECTION MEET on 28.01.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/7/WhatsApp Image 2018-01-30 at 8.52.14 PM(1).jpeg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    DATA COLLECTION MEET on 28.01.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/7/WhatsApp Image 2018-01-30 at 8.52.14 PM.jpeg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    DATA COLLECTION MEET on 28.01.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- e col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 -->

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/8/IMG_20180213_101505.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WORKSHOP ON ANALYSIS on 13.02.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/8/IMG_20180213_122829.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WORKSHOP ON ANALYSIS on 13.02.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/8/IMG_20180213_122850.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WORKSHOP ON ANALYSIS on 13.02.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- e col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/9/IMG_0856.JPG"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL SEMINAR ON SOCIAL RESPONSIBILITY OF ENTREPRENEURS
                    AND INDIVIDUALS on 23.02.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/9/IMG_0858.JPG"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL SEMINAR ON SOCIAL RESPONSIBILITY OF ENTREPRENEURS
                    AND INDIVIDUALS on 23.02.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/9/IMG_0882.JPG"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    NATIONAL SEMINAR ON SOCIAL RESPONSIBILITY OF ENTREPRENEURS
                    AND INDIVIDUALS on 23.02.2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- e col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 -->

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
            <mdb-carousel
              class="carousel slide carousel-fade"
              [animation]="'fade'"
            >
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/10/IMG_20180402_095746.jpg"
                    height="360"
                    alt="First slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WORKSHOP ON ART OF WRITING ARTICLES on 30th March 2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/10/IMG_20180402_105739.jpg"
                    height="360"
                    alt="Second slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WORKSHOP ON ART OF WRITING ARTICLES on 30th March 2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="view w-100">
                  <img
                    class="d-block w-100"
                    src="../../assets/Activities/2017-18/10/IMG_20180402_112220.jpg"
                    height="360"
                    alt="Third slide"
                  />
                  <div
                    class="mask rgba-black-slight waves-light"
                    mdbWavesEffect
                  ></div>
                </div>
                <div class="carousel-caption">
                  <h6 class="h6-responsive">
                    WORKSHOP ON ART OF WRITING ARTICLES on 30th March 2018
                  </h6>
                  <p></p>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
          <!-- e col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 -->
        </div>
        <!-- e row -->
      </div>
      <!-- e container -->
    </section>
    <!-- e section -->
  </div>
</div>
