<div class="container">
    <div class="img">
        <img src="../../../assets/Forum-images/farmers.jpg" height="400" width="750" class="img-fluid" alt="Farmer forum">
    </div>
    <div>
        <h1 class="text-center mt-3"> ABOUT THE FORUM</h1>
        <p class="text-justify">
            &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; The forum is organised to throw light on the emerging issues of farmers in
            Cultivating and Marketing the crops. It creates a common platform for Farmers to share their experiences and
            expertise among each other; and among various other organizations in agricultural development. It’s an
            Initiative to improve the Livelihood of farmers and a way Forward to improve the Status of Agriculture in
            India. With this objective, the forum will deliberate on challenges and opportunities before the
            agricultural sector; as well as the way forward.</p>
    </div>
</div>